doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
    link(rel="stylesheet", href="/css/styles.css")
    script(src="/socket.io/socket.io.js")
    script(src="/js/script.js")
  body
    h1 Ranking
    div
      form(action='/game' method='get')
        button#backToTheGame Back to the Game    
    if rankings.length > 0
      table
        thead
          tr
            th Identifiant
            th Prénom
            th Nom
            th Nbr parties
            th Score
            th Temps
        tbody
          each player in rankings
            tr
              td= player.identifiant
              td= player.firstName
              td= player.lastName
              td= player.nbGames
              td= player.rate
              td= player.timeString 
    else
      p Aucun joueur trouvé dans la base de données.